<br>
<br>
<header>
  FAQ
</header>
<br>
<br>


<mat-accordion>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Is this a safe activity?
      </mat-panel-title>
      <mat-panel-description>
         {{panelOpenState ? '' : ''}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p style="color:black">The Rage Room puts safety ahead of everything else. We suit up Ragers with heavy-duty coveralls, face masks, and optional hard hats. 

      Covid 19 Response: We have put speacial measures in place to keep all juests safe both during and after your activity.
      If you are experiening and "flu-like" symptoms please contact us to reschedule.
      - Wellness Checks - Employees receive daily wellness checks to ensure they are healthy and symptom-free. If you or anyone in your group is experiencing symptoms, we will work directly with you to cancel or reschedule your session.
      - Stringent Cleaning - We've increased the frequency of disinfecting surfaces and high traffic areas between each session, and hand sanitizer will be available to all of our guestsSocial distancing - Guests will stay at a safe 6 foot distance during your session. We also ensure that all staff members will be wearing the necessary PPE</p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        What am I breaking?
      </mat-panel-title>
      <mat-panel-description>
         {{panelOpenState ? '' : ''}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p style="color:black">We offer a variety of items. Small items include: plates, tea cups, shot glasses, small electronics, CD's, and more. Medium itesm: plates, wine glasses, vases, vinyl's, lunchboxes, woodwork, tumblers, etc. Large items: mirros, chairs, woodwork, tv's, computers, windshields, etc. We also offer "Specialty items" that can be purchased on location.We don't always have everything due to the difficult nature of acquiring some items, but they can include: machinery, vehicles, large furniture, etc.</p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        What do I need to bring? 
      </mat-panel-title>
      <mat-panel-description>
         {{panelOpenState ? '' : ''}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p style="color:black">All you need is closed-toed shoes and a form of identification for reservation. You may also bring up to 5 personal items per person to break inside the Rage Rooms.</p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        How many people in a room?
      </mat-panel-title>
      <mat-panel-description>
         {{panelOpenState ? '' : ''}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p style="color:black">4 people can be in one room at a time, but all five of our rooms open up to accommodate parties up to 20 people.</p>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        How old do we have to be to participate?
      </mat-panel-title>
      <mat-panel-description>
         {{panelOpenState ? '' : ''}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p style="color:black">Every Rager needs to be 18 and over to participate. 14+ with parental consent.</p>
  </mat-expansion-panel>
 
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        We just finished raging and we are famished! What should we do now?
      </mat-panel-title>
      <mat-panel-description>
         {{panelOpenState ? '' : ''}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p style="color:black">Great question! You have probably worked up quite the appetite. So, Refuel, of course! Use the tool below to find out all about the excellent food this part of St. Louis has to offer.</p>
  </mat-expansion-panel>



</mat-accordion>


