// *{
//     margin: 0px;
//     padding: 0px;
//     box-sizing: border-box;
// }

$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(58, 54, 54);

.footer {
    font: 100% $font-stack;
    // color: 
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    background-color: $primary-color; 
    font-family: sans-serif;
    position: fixed;
    bottom: 0;
    width: 100vw;

}


   
