<br>
<h1>Contact Us</h1>>
<br>
<div class="cont">
    <div class="row justify-content-around">
        <div class="col-md-4">
            <h2>Address</h2>
            <!-- Add Icon -->
            1801 Imperial Drive
            Imperial, MO
            622025
        </div>
        <div class="col-md-4">
            <h2>Phone</h2>
            <!-- Add Icon -->
            687-995-9879
        </div>
        <div class="col-md-4">
            <h2>Email</h2>
            <!-- Add Icon -->
            support@RageRoomImperial.com
        </div>
    </div>

</div>