<br>
<h1>Contact Us</h1>>
<br>
<div class="cont">
    <div class="row justify-content-around">
        <div class="col-md-4">
            <h2>Address</h2>
            <!-- Add Icon -->
            1801 Imperial Drive<br>
            Imperial, MO<br>
            622025<br><br><br>

            Hours:<br>
            Monday-Sunday<br>
            11:00 AM - 8:30 PM<br>
            By Appointment Only
        </div>
        <div class="col-md-4">
            <h2>Phone</h2><br>
            <!-- Add Icon -->
            687-995-9879
        </div>
        <div class="col-md-4">
            <h2>Email</h2><br>
            <!-- Add Icon -->
            support@RageRoomImperial.com
        </div>
    </div>

</div>