
<header>
    ABOUT US
</header>

<div class="container" id="about-us">
    
    <div class="row">
      <div class="col-md-6">
        <img src="assets/images/about-us-img.jpg" alt="Owners">
      </div>
      <div class="col-md-6">
        Hi, we're Mr. and Mrs. Rage.
        Or, you can call us Terry and Christine. 
        We have always dreamt of creating a space in our community where people can have fun, relieve stress, and have a completely unique experience. 
        We hope to see you soon!
      </div>
    </div>
</div>