<header>BOOK YOUR ESCAPE NOW</header><br>
<br>
<br>
<br>
<br>
<div class="container" id="booking"></div> 
    <div class="row">

      <div class="col-md-3">
        Standard Rage
        <img src="assets/images/standard-rage-img.jpg" alt="Standard Rage" class="image" >
            <div class="overlay">
              <div class="text">1 Room up to 4 people. 20 minutes total. $30/person.</div>
            </div>
      </div>
      
      <div class="col-md-3">
        Deluxe Rage
        <img src="assets/images/Deluxe-rage-img.jpg" alt="Deluxe Rage">
          <div class="overlay">
            <div class="text">1 Room up to 4 people. 20 minutes total. Double the amount of breakables. $50/person.</div>
          </div>
      </div>

      <div class="col-md-3">
        Paint Splatter
        <img src="assets/images/paint-splatter-img.jpg" alt="Paint Splatter">
          <div class="overlay">
            <div class="text">1 Room up to 4 people. 10 minutes total. $25/person.</div>
          </div>
      </div>

      <div class="col-md-3">
        Private Events
        <img src="assets/images/private-events-img.jpg" alt="Private Events">
        <div class="overlay">
          <div class="text">Reach out for a personalized quote today!</div>
        </div>
      </div>
      
    </div>

    <!-- style="height:200px; width:200px;" -->