.img-container {
    background-image: url("../../assets/images/home-page-img.jpg");
    background-color: #cccccc;
    height: 50%;
    background-color: .25
   }
.row-text {
    opacity: 1;
}


   
.container {
    position: center;
    text-align: center;
    color: white;
}

div {
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
  }

  /* .bg {
    /* The image used */
    /* background-image: url("assets/images/home-page-img.jpg");
   
    height: 50%;
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */ 