.img-container {
    background-image: url("../../assets/images/home-page-img.jpg");
    background-color: #cccccc;
    height: 50%;
    background-color: .25
   }
.row-text {
    opacity: 1;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


   
.container {
    position: center;
    text-align: center;
    color: white;
}

div {
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
  }
