
<!-- Try to use the ngStyle Directive way to set background img
<div [ngStyle]="{backgroundImage:'url(./images/home-page-img.jpg)'}" >
  <h1>Break. Destroy. Release.</h1>
</div> -->


<div class="img-container">
    <div class="row-text">
      Break <br> <br>
      Destroy<br> <br>
      Release
      <div class="col-lg-12">
        <!-- <img src="assets/images/home-page-img.jpg" alt="home"> -->
      </div>
 </div>
      

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <app-packages-info></app-packages-info>
    </div>
  </div>
</div>
</div>    
