<br />
Book Your Experience Here
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <mat-form-field appearance="fill" class="dateClass">
              <mat-label for="date">Choose a Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                id="date"
                class="form-control"
                type="text"
                ngModel
                name="date"
                required
                #date="ngModel"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label for="time">Choose a Time Slot</label>
            <select
              id="time"
              class="form-control"
              [ngModel]="selectedTime"
              name="time"
            >
              <option *ngFor="let time of times" [value]="time">
                {{ time }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="package">Choose a Package</label>
            <select
              id="package"
              class="form-control"
              [ngModel]="selectedPackage"
              name="package"
            >
              <option *ngFor="let package of packages" [value]="package">
                {{ package | titlecase }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="participant">Number of Participants</label>
            <select
              id="participant"
              class="form-control"
              [ngModel]="selectedParticipants"
              name="participant"
            >
              <option
                *ngFor="let participant of participants"
                [value]="participant"
              >
                {{ participant }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label for="username">Head of Party Name</label>
            <input
              class="form-control"
              type="text"
              id="username"
              ngModel
              name="username"
              required
              #username="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input
              class="form-control"
              type="text"
              id="phone"
              ngModel
              name="phone"
              required
              #phone="ngModel"
            />
          </div>
          <div class="form-group">
            <label for="email">E-mail Address</label>
            <input
              class="form-control"
              type="email"
              id="email"
              ngModel
              name="email"
              required
              email
              #email="ngModel"
            />
          </div>
          <span class="help-block" *ngIf="!email.valid && email.touched">
            Please enter a valid email!
          </span>
          <p *ngIf="!onSubmit">The form is incomplete!</p>
          <br />
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>